
h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.tickers {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
  text-align: center;
}

button {
  padding: 0.5%;
  border-radius: 5px;
  width: 10%;
}