<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Crypto Trading Algo</title>
</head>

<body>
  <h1>Crypto Trading Algo</h1>
  <h2>Choose Your Currency</h2>
  <div>
    <form action="/tickers" method="post">
      <input type="submit" name="bitcoin" value="BTC">
      <input type="submit" name="ethereum" value="ETH">
      <input type="submit" name="litecoin" value="LTC">
    </form>
  </div>
</body>

</html>